---
/*
 * Statically generate a webpage
 *
 * @TODO redirect if dataHarvesting is disabled
 */
import type { DatabaseInfo, TableInfo } from "@/env";
import config from "@universal_root/config.yml";
import Layout from "@/layouts/Layout.astro";

import DataEntryForm from "@/components/data/data-entry-form";
import { Toaster } from "@/components/ui/sonner";
import LoginDialog from "@/components/auth/login-dialog";

export const prerender = true;
export function getStaticPaths() {
  let output: Array<{ params: { databaseName: string; tableName: string } }> =
    [];

  Object.values(config.data as DatabaseInfo[]).map((dbinfo: DatabaseInfo) =>
    Object.values(dbinfo.tables).map((tableInfo: TableInfo) => {
      output.push({
        params: {
          databaseName: dbinfo.dbname,
          tableName: tableInfo.tableName,
        },
      });
    })
  );

  return output;
} // It's crucial that this page loads as quickly as possible to provide the best experience.

const { databaseName, tableName } = Astro.params;
let entrytype: TableInfo["entrytype"] | undefined;

// const fieldsToEnter: Array<DataColumn | JsonColumn> = Object.values(config.data.databases[databaseName].schema);

const pageTitle: string =
  databaseName.charAt(0).toUpperCase() +
  databaseName.slice(1) +
  "/" +
  tableName.charAt(0).toUpperCase() +
  tableName.slice(1) +
  " Data Entry";

let tableInfo: TableInfo | undefined = undefined;
for (let i of config.data) {
  if (i.dbname == databaseName) {
    for (let j of i.tables) {
      if (j.tableName == tableName) {
        tableInfo = j;
        entrytype = j.entrytype;
        break;
      }
    }
    break;
  }
}

if (!tableInfo || !entrytype) {
  // @todo say something isn't working
  return Astro.redirect("/");
}
---

<Layout
  title={pageTitle}
  css_color_palette="light_mode"
  useAstroDefaultCSS={false}
>
  <LoginDialog client:load slot="top-bar-button2" />
  <!-- <Layout title={"lkjhasdf"} css_color_palette="light_mode" useAstroDefaultCSS={false}> -->
  <!-- {fieldsToEnter.map((column: DataColumn | JsonColumn) => {
        
    })} -->
  <DataEntryForm
    entrytype={entrytype}
    fieldsToEnter={tableInfo.schema}
    databaseName={databaseName}
    tableName={tableName}
    dbURL={config.referenceUrls.cache}
    client:only="react"
  >
    <div slot="fallback">Loading...</div>
  </DataEntryForm>
  <Toaster client:load />
</Layout>
