---
export const prerender = true;
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/LinklessCard.astro';
// const images = import.meta.glob('@/content/directives/*.png');

let directives: {[key: string]: any}[] = [];
await getCollection('directives', ({ data }) => {
	directives.push(data);
}); console.log(directives)
---

<Layout title="Eric's Directives" css_color_palette="light_mode" useAstroDefaultCSS={false}>
	<main>
		
		<ul role="list" class="link-card-grid">
            { directives.map((directive) => {
				let output = <Card title={directive.title} body={directive.description}></Card>;
				if (directive.imagePath != null) { // if there is an image,
					return <Card title={directive.title} body={directive.description}></Card> <img src={directive.imagePath} alt={"Image for the " + directive.title + " award"}/>;
				}

				return output;
			}) }
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit);
		gap: 2rem;
		padding: 0;
	}
</style>
