---
export const prerender = true;
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/LinklessCard.astro';
// const images = import.meta.glob('@/content/awards/*.png');

let awards: {[key: string]: any}[] = [];
const accomplishments = await getCollection('awards', ({ data }) => {
	awards.push(data);
});

---

<Layout title="Awards & Accomplishments" css_color_palette="dark_mode">
	<main>
		<ul role="list" class="link-card-grid">
			{ awards.map((award) => {
				let output = <Card title={award.title} href="" body={award.description}></Card>;
				if (award.imagePath != null) { // if there is an image,
					return <Card title={award.title} href="" body={award.description}></Card> <img src={award.imagePath} alt={"Image for the " + award.title + " award"}/>;
				}

				return output;
			}) }
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit);
		gap: 2rem;
		padding: 0;
	}
</style>
