---
// import globalcss from "@/index.css";
import '@/styles/globals.css';

import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

interface Timeslot {
  time: string;
  monday: string;
  tuesday: string;
  wednesday: string;
  thursday: string;
  friday: string;
  saturday: string;
  sunday: string;
}

interface Props {
  timeslots: Timeslot[];
}

const { timeslots } = Astro.props;
---

<!-- <link rel="stylesheets/index.css" /> -->
<div>
  <Table>
    <!-- <TableCaption>Wywy's Schedule!</TableCaption> -->
    <TableHeader>
      <TableRow>
        <TableHead>Time</TableHead>
        <TableHead>Monday</TableHead>
        <TableHead>Tuesday</TableHead>
        <TableHead>Wednesday</TableHead>
        <TableHead>Thursday</TableHead>
        <TableHead>Friday</TableHead>
        <TableHead>Saturday</TableHead>
        <TableHead>Sunday</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      {
        timeslots.map((timeslot) => (
          <TableRow key={timeslot.time}>
            <TableCell>{timeslot.time}</TableCell>
            <TableCell>{timeslot.monday}</TableCell>
            <TableCell>{timeslot.tuesday}</TableCell>
            <TableCell>{timeslot.wednesday}</TableCell>
            <TableCell>{timeslot.thursday}</TableCell>
            <TableCell>{timeslot.friday}</TableCell>
            <TableCell>{timeslot.saturday}</TableCell>
            <TableCell>{timeslot.sunday}</TableCell>
          </TableRow>
        ))
      }
    </TableBody>
    <!-- <TableFooter>
      <TableRow>
        <TableCell colSpan={3}>Total</TableCell>
        <TableCell class="text-right"></TableCell>
      </TableRow>
    </TableFooter> -->
  </Table>
</div>
