---
interface Props {
    chartID: string;
    datapoints: string[];
}

let { chartID, datapoints } = Astro.props;
const chartTypes = {
    "bar": "Bar",
    "scatter": "Scatter Plot",
    "bubble": "Bubble",
    "pie": "Pie"
};
---

<button id={chartID + " regenerateChart"}>Regenerate Chart</button>
<table style="border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border-bottom: solid 2px black;">Chart Settings</th>
            <th
                style="border-bottom: solid 2px black;border-left: solid 2px black;"
                >Chart</th
            >
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: left;">
                <div id={chartID + " select"}>
                    <p>Chart type:</p>
                    <select id={chartID + " chart type"}>
                        <option value="bar">Bar</option>
                        <option value="scatter">Scatter Plot</option>
                    </select>
                    <br />
                    <br />

                    <p>Datasets:</p>
                    <button
                        id={chartID + " selectAll"}
                        type="button">Select All</button
                    >
                    {
                        datapoints.map((datum: string) => {
                            return (
                                <>
                                    <br />
                                    <input type="checkbox" id={datum} />
                                    <label for={datum}>{datum}</label>
                                </>
                            );
                        })
                    }
                    <br />
                    <br />

                    <p>Sort By Trial:</p>
                    <select name={chartID + " sortBy"} id={chartID + " sortBy"}>
                        {
                            datapoints.map((datum: string) => {
                                return <option value={datum}>{datum}</option>;
                            })
                        }
                    </select>
                    <slot name="datasetTypes"/>
                </div>
            </th>
            <th style="width:100%;border-left: solid 2px black;"
                ><canvas id={chartID} class="chart"></canvas>
            </th>
        </tr>
    </tbody>
</table>

<script is:inline define:vars={{ chartID }}>
    document.getElementById(chartID + " selectAll").addEventListener("click", () => {selectAll();});

    function selectAll() {
        let elements = document.getElementById(chartID + " select").children;
        for (const i of elements) {
            if (i.type == "checkbox") {
                i.checked = true;
            }
        }
    }
</script>